/* this stylesheet is primarily for grid and structure, please put other css stylings in setup.css */ 

/* high fidelity section = grid1 */ 
  .grid1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-gap: 5rem;
  }
  
  .grid1 > div {
    background: #EDE7F6;
    padding: 1.5rem;
    border-radius: 1rem;
  }

/* mid fidelity section = grid2 */ 
  .grid2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-gap: 5rem;
  }
  
  .grid2 > div {
    background: #EDE7F6;
    padding: 1.5rem;
    border-radius: 1rem;
  }

/* mid fidelity section = grid3 */ 
  .grid3 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-gap: 5rem;
  }
  
  .grid3 > div {
    background: #EDE7F6;
    padding: 1.5rem;
    border-radius: 1rem;
  }
