@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=IBM+Plex+Mono:wght@300&family=Public+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&family=WindSong&display=swap');

@media print {
    p {
        font-size: 11pt;
    }
}

:root {
    --hifi-bg: #fff; 
    --hifi-text: #000;
    --low-bg:#004EEB; 
  }

h1, h2, h3, h4, h5, h6 {
    font-family: 'Public Sans', sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }

.hero {
  background-color: white;
  padding: 5vw;
  padding-left: 20vh;
  height: 100vh;
}

.hero > h1 {
  font-family:'GFS Didot', serif;
  font-weight: 500;
  font-size: 10vw;
  text-transform: none;
}

.hero > h2 {
font-family: 'Public Sans', sans-serif;
font-weight: 500;
font-size: 5vw;
padding-top: 0;
padding-bottom: 40vh;
text-transform: none;
}


/* hi-fidelity styles */
.hi {
    padding: 10vw;
    background-color: var(--hifi-bg);
    
}

.hi > ul {
    padding: none;
}

.hi > ul > li {
    color: var(--hifi-text);
    font-family: 'EB Garamond', serif;
    font-size: 1.5vw;
    font-weight: 200;
    line-height: 2.2vw;
    padding-right: 30vw;
    padding-bottom: 1vw;
    text-align: justify;
    
}

/*first paragraph dropcap styles */
.hi > ul > li > .dropcap:first-child:first-letter {
    float: left;
    font-family: 'EB Garamond', serif;
    font-size: 5vw;
    line-height: 2vw;
    padding-top: 1vw;
    padding-right: 1vw;
    padding-left: 0vw;
  }

/*mid-fidelity styles */
.mid {
    padding: 5vw;
    background-color: #F5FBFF;
    background: repeating-linear-gradient(#F5FBFF, #F5FBFF 25px, #9198e5 26px, #9198e5 27px);
  }
  
  .mid > ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
  
  .mid > ul > li:nth-child(1) {
    background-color:#FAFAF9;
    font-family: 'Public Sans', sans-serif;
    font-size: 1.2vw;
    font-weight: 100;
    line-height: 1.8vw;
    padding: 5vw;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  }

  .mid > ul > li:nth-child(4) {
    background-color:#D1E0FF;
    font-family: 'Public Sans', sans-serif;
    font-size: 1.2vw;
    font-weight: 100;
    line-height: 1.8vw;
    padding: 5vw;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  }

.pantonecontainer {
    width: 40%;
    height: 60%;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    transform: rotate(20deg);
}
.pantonecolor {
    background-color: var(--low-bg);
    height: 70%;
}
 
.pantonetext {
    background-color: white;
    font-family: 'Public Sans', sans-serif;
    font-weight: 600;
    font-size: 1.6vw;
    padding: 4%;
    height: 30%;
}

.pantonetext > p {
    font-size: 1.4vw;
    font-weight: 400;
}


  /*low-fidelity styles */
.low {
    background-color: var(--low-bg);
    padding: 5vw;
  }
  
  .low > ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(3, 1fr);
    grid-gap: 2vw;
  }
  
  .low > ul > li {
      font-family: 'IBM Plex Mono', monospace;
      color: white;
      font-size: 1.2vw;
      line-height: 1.8vw;
      border: 1px white dashed;
  }
  
  .low > ul > li:nth-child(1) {
    grid-area: 1 / 1 / 2 / 3;
    border: 1px white solid;
    border-style: double;
    padding: 5vw;
  }

  .low > ul > li:nth-child(6) {
    grid-area: 2 / 3 / 3 / 5;
    border: 1px white solid;
    padding: 5vw;
  }

  .low > ul > li:nth-child(8) {
    grid-area: 3 / 2 / 4 / 4; 
    border: 1px white solid;
    padding: 5vw;

  }

  section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

@media only screen and (max-width: 600px) {
    .hero, .hi, .mid, .low {
      width: 100%; /* The width is 100%, when the viewport is 600px or smaller */
    }

}
@media print {
  /* print styles go here */
}